In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import os
import env

from sklearn.model_selection import train_test_split
import sklearn.preprocessing
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

import warnings
warnings.filterwarnings("ignore")

import acquire
from scipy import stats
import re

import prepare as p

In [2]:
df = acquire.new_telco_data()
df.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [3]:
# aquiring, cleaning, and adding features to data
p.prep_telco_data(df)

# splitting data into train, validate, and test
train, validate, test = p.split_telco_data(df)

In [5]:
#A breif look at the data
train.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
5310,Female,1,Yes,No,72,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,89.85,6697.35,No,Two year,DSL,Bank transfer (automatic)
3790,Male,1,Yes,No,72,Yes,Yes,No,Yes,Yes,Yes,Yes,No,No,77.35,5396.25,No,Two year,DSL,Credit card (automatic)
4398,Female,1,Yes,No,46,Yes,Yes,No,No,No,Yes,Yes,Yes,No,100.25,4753.85,No,One year,Fiber optic,Electronic check
2635,Male,0,No,No,4,No,No phone service,No,No,No,Yes,No,Yes,Yes,40.05,162.45,No,Month-to-month,DSL,Electronic check
2986,Male,0,Yes,No,8,Yes,No,No,Yes,Yes,No,No,No,Yes,54.75,445.85,No,Month-to-month,DSL,Mailed check

In [6]:
#A summery of the data
train.describe()

       senior_citizen       tenure  monthly_charges
count     3943.000000  3943.000000      3943.000000
mean         0.162820    32.473244        65.328937
std          0.369248    24.551176        30.261023
min          0.000000     0.000000        18.250000
25%          0.000000     9.000000        35.900000
50%          0.000000    29.000000        70.550000
75%          0.000000    55.000000        90.250000
max          1.000000    72.000000       118.750000